@model List<DapperCv.Entities.Concrete.Skill>

@{ 
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @foreach (var skills in Model)
    {
        <span>@skills.Id</span>
        <span>@skills.Description</span>
        <br />
    }
</body>
</html>