@model CertificationUpdateDto

<form asp-action="Update" method="post">

    <div class="form-group">
        <input type="hidden" asp-for="Id"  />
        <label>Sertifika Bilgisi</label>
        <span class="text-danger" asp-validation-for="Description"></span>
        <input asp-for="Description" class="form-control" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </div>
</form>